apiVersion: apps/v1
kind: Deployment
metadata:
  name: website-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: website
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 10%
      maxSurge: 10%
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
        - name: website
          image: matalt/website:latest
          ports:
            - containerPort: 5000
          resources:
            limits:
              cpu: "0.1"
            requests:
              cpu: "0.05"
