apiVersion: apps/v1
kind: Deployment
metadata:
  name: website-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: website
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
      - name: website
        image: matalt/website:latest
        ports:
        - containerPort: 5000
