apiVersion: v1
kind: Service
metadata:
  labels:
    app: website
  name: website
spec:
  selector:
    app: website
  type: NodePort
  ports:
    - port: 5000
      nodePort: 30000
      protocol: TCP
